* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

#board {
  margin: 0 auto;
  border: 1px solid black;
  display: grid;
  justify-content: center;
}

#board div {
  height: 50px;
  border: 1px solid #000;
}

.active {
  background: blue;
}